@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {box-sizing: border-box;}
*, ::after, ::before {box-sizing: inherit;}

body {
    background-color: #FAFAFA;
    font-family: Montserrat;
}

hr {
    border: 1px solid #407BFF;
    width: 60px;
    margin-bottom: 30px;
}

h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    font-size: 16px;
    text-align: center;
    margin-top: 60px;
}

p {
    max-width: 460px;
    font-size: 16px;
    color: #8B8B8B;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hlavicka {
    text-align: center;
}

.tlacitko {
    display: table;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 50px;
}

.dobrodruzstvi {
    background-color: #407BFF;
    border: #407BFF;
    margin-bottom: 10px;
}

.pohoda {
    background-color: #8B8B8B;
    border: #8B8B8B;
}

.box {
    background-color: white;
    display: flex;
    border-radius: 10px;
    box-shadow: #407BFF1F 4px 6px 10px;
    margin: 15px 20px;
    align-items: center;
}

.box p {
    font-size: 13px;
    margin: 0;
    text-align: left;
    margin-right: 30px;
    margin-bottom: 0;
}

.box img {
    margin: 20px;
}

.uvodnifoto {
    max-width: 100%;
    margin: 60px 75px 40px 75px;
    text-align: center;
}

.uvodnifoto img {
    max-width: 100%;
}

.posledni {
    margin-bottom: 60px;
}

@media screen and (min-width: 640px) {
    .uvodnifoto {
        margin-bottom: 30px;
    }
    
    .tlacitko {
        display: inline;
    }

    h2 {
        margin-top: 80px;
    }

    p {
        max-width: 550px;
        margin: auto;
        margin-bottom: 40px;
    }

    .dobrodruzstvi {
        margin-right: 20px;
    }

    .sluzby {
        display: flex;
        flex: 1 1 calc(100% / 3);
        justify-content: space-evenly;
    }

    .box {
        margin: 0px 10px;
        display: block;
        text-align: center;
    }

    .box p {
        text-align: center;
        margin: 20px 15px;
    }

    .box img {
        margin-top: 40px;
    }

    .delegati {
        margin-bottom: 80px;
    }

    .posledni {
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 1100px) { 
    
    section {
        max-width: 1040px;
        display: flex;
        margin: 0 auto;
        margin-bottom: 80px;
        align-items: center;
        justify-content: space-between;
    }

    .prvni,
    .druha {
        flex-direction: row-reverse;
    }

    h1,
    h2,
    hr,
    p,
    .hlavicka {
        text-align: left;
    }

    hr {
        margin-left: 0;
    }

    .dobrodruzstvi {
        margin-right: 20px;
    }

    h2 {
        margin-top: 0;
    }

    .sluzby {
        max-width: 550px;
    }

    .cestovka,
    .namiste {
        max-width: 430px;
    }

    .box {
        margin-left: 0;
        margin-right: 20px;
    }

    .posledni {
        margin-right: 0;
    }

    .uvodnifoto,
    .hlavicka {
        width: 490px;
    }

    .hlavicka {
        margin-left: 0;
        margin-right: auto;
    }

    .uvodnifoto {
        margin: 60px 0 0 auto;
    }

    .uvodnifoto img {
        max-width: 425px;
        text-align: center;
    }

    .treti {
        margin-bottom: 60px;
    }
}